<%= form_with(model: bug) do |form| %>
  <% if bug.errors.any? %>
    <div id="error_explanation" class="notification">
      <span><button class="delete"></button></span>
      <h2><strong><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</strong></h2>

      <ul>
        <% bug.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project, class: "label" %>
    <%= form.select :project_id, Project.all.collect {|p| [p.name, p.id]}, {}, class: "select" %>
  </div>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <%= form.text_area :description, class: "control textarea"  %>
  </div>

  <div class="field">
    <%= form.label :branch %>
    <%= form.text_field :branch %>
  </div>

  <div class="field">
    <%= form.label :severity %>
    <%= form.select :severity, ['A', 'B', 'C', 'Task'] %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, ['Low', 'Medium', 'High'] %>
  </div>

  <div class="field">
    <%= form.label :reported_by %>
    <%= form.number_field :reported_by %>
  </div>

  <div class="field">
    <%= form.label :assigned_to %>
    <%= form.number_field :assigned_to %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ["Open", "Closed", "Fixed", "Re-Opened", "Fix Verified"] %>
  </div>

  <div class="field">
    <%= form.label :repro_steps, class: "label" %>
    <%= form.text_area :repro_steps, class: "control textarea" %>
  </div>

  <div>
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>
