

<h1>Bugs</h1>

<table class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Branch</th>
      <th>Severity</th>
      <th>Priority</th>
      <th>Reported by</th>
      <th>Assigned to</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= link_to bug.title, bug %></td>

        <td><%= bug.branch %></td>
        <td><%= bug.severity %></td>
        <td><%= bug.priority %></td>
        <td><%= bug.reported_by %></td>
        <td><%= bug.assigned_to %></td>
        <td><%= bug.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug', new_bug_path %>

