<div class="card">
  
  <div class="card-content">
    <div class="media">
      
      <ul class="media-content">
        <li class="title is-4"><%= @bug.title %></li>
        <li class="subtitle is-6">Reported by <%= @bug.reported_by %></li>

        <% if @project %>
          <li><strong>Project: <%= @project.name %> </strong></li>
        <% end %>


        <li>
          <strong>Branch:</strong>
          <%= @bug.branch %>
        </li>

        <li>
          <strong>Severity:</strong>
          <%= @bug.severity %>
        </li>

        <li>
          <strong>Priority:</strong>
          <%= @bug.priority %>
        </li>

        <li>
          <strong>Assigned to:</strong>
          <%= @bug.assigned_to %>
        </li>

        <li>
          <strong>Status:</strong>
          <%= @bug.status %>
        </li>
      </ul>
    </div>

    <div class="content">
      <p>
        <%= @bug.description %>
      </p>

      <p>
        <strong>Repro steps:</strong>
        <%= @bug.repro_steps %>
      </p>

      

      <div>
        <p><em>Created on <%= @bug.created_at.to_formatted_s(:long_ordinal) %></em></p>
        <p><em>Last updated <%= @bug.updated_at.to_formatted_s(:long_ordinal) %></em></p>
      </div>

      <%= link_to 'Edit', edit_bug_path(@bug) %> |
      <%= link_to 'Back', bugs_path %>
    </div>
  </div>
</div>

<p>
  <strong></strong>
</p>













