<div class="">
  <div class="card-content">
    <div class="media card">
      <ul class="media-content p-6">
        <li class="title is-4"><%= @bug.title %></li>
        <li class="subtitle is-8">
          <strong>Reported by: <%= @creator.username %></strong>
          <br/>
          <strong>Project: <%= @project.name %> </strong>
        </li>
        




        <li>
          <strong>Branch:</strong>
          <%= @bug.branch %>
        </li>

        <li>
          <strong>Severity:</strong>
          <%= @bug.severity %>
        </li>

        <li>
          <strong>Priority:</strong>
          <%= @bug.priority %>
        </li>

        <li>
          <strong>Assigned to:</strong>
          <%= User.find_by_id(@bug.assigned_to).username %>
        </li>

        <li>
          <strong>Status:</strong>
          <%= @bug.status %>
        </li>

        <li>
        <strong>Description:</strong>
        <%= @bug.description %>
        </li>

        <li>
          <strong>Repro steps:</strong>
          <%= @bug.repro_steps %>
        </li>
        <li class="footer">
          <p><em>Created on <%= @bug.created_at.to_formatted_s(:long_ordinal) %></em></p>
          <p><em>Last updated <%= @bug.updated_at.to_formatted_s(:long_ordinal) %></em></p>

          <%= link_to 'Edit', edit_bug_path(@bug) %> |
          <%= link_to 'Back', project_path(@project.id) %>
        </li>
      </ul>





    </div>

    
  </div>
</div>

<p>
  <strong></strong>
</p>













