<p>
  <strong><%= @bug.title %></strong>
</p>

<%= @bug.inspect %>

<div>
  <h3><strong>Description:</strong></h3>
  <p><%= @bug.description %></p>
</div>
<br/>

<p>
  <strong>Reported by:</strong>
  <%= @bug.reported_by %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @bug.branch %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @bug.severity %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @bug.priority %>
</p>



<p>
  <strong>Assigned to:</strong>
  <%= @bug.assigned_to %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bug.status %>
</p>

<p>
  <strong>Repro steps:</strong>
  <%= @bug.repro_steps %>
</p>

<div>
  <p><em>Created <%= @bug.created_at %></em></p>
  <p><em>Last updated <%= @bug.updated_at %></em></p>
</div>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
